services:
  web:
    build: .
    ports:
      - "80:80"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    command: gunicorn -w 4 -b 0.0.0.0:80 api.app:app
    volumes:
      - uploads_data:/app/uploads
      - outputs_data:/app/outputs

  worker:
    build: .
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    command: python api/worker.py
    volumes:
      - uploads_data:/app/uploads
      - outputs_data:/app/outputs

  redis:
    image: "redis:alpine"

volumes:
  uploads_data:
  outputs_data:
