services:
  web:
    build: .
    ports:
      - "80:80"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    command: gunicorn -w 4 -b 0.0.0.0:80 api.app:app

  worker:
    build: .
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    command: python api/worker.py

  redis:
    image: "redis:alpine"
